*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.title{
    margin-top: 50px;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

.title h1{
  font-size: 60px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer1{
  position: absolute;
  width: 250px;
  height: 350px;
  top:55%;
  left:15%;
  transform: translate(-50%,-50%);
}

.maincontainer2{
  position: absolute;
  width: 250px;
  height: 350px;
  top:50%;
  left:82vh;
  transform: translate(-50%,-50%);
}

.maincontainer3{
  position: absolute;
  width: 250px;
  height: 350px;
  top:50%;
  left:80vh;
  transform: translate(-50%,-50%);
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  overflow: hidden;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  overflow: hidden;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}

.thefront1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: #000;
}
.theback1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  overflow: hidden;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.thefront2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  overflow: hidden;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


  color: #000;
}
.theback2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  overflow: hidden;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


}



/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback li, .thefront1 h1, .theback1 li, .thefront2 h1, .theback2 li{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  text-align: center;
}

.thefront, .thefront1, .thefront2 h1{
    font-size: 40px;
}

.theback, .theback1, .theback2 li{
    font-size: 20px;
    margin-top: 8%;
}
.thecard li{
    list-style: none;
}

.thecard a:link {
    color: black;
}
.thecard a:visited {
    color: rgb(141, 5, 5);
}
.thecard a:hover {
    color: rgb(255, 142, 142);
    text-decoration: none;
}

.text-front{
  margin-top: 43%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

