*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.column{
    float: left;
    width: 50%;
    text-align: center;
    padding: 10%;
    height: 100%;
}

h1{
    font-size: 60px;
}

img{
    width: 350px;
}

.slogan{
    font-family: 'Kalam', cursive;
    font-size: 35px;
}

.vl {
  border-left: 3px solid #DCDCDC;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  }

.login {
    position: relative;
    top:50px;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
  }

button{
    font-size: 30px;
    margin-left: 30px;
    border: 2px solid rgb(115, 185, 204);
    background-color: white;
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(115, 185, 204);
}

@media screen and (max-width:1000px) {
    h1{
        font-size: 40px;
    }
    img{
        width: 280px;
    }
    input[type=text], input[type=password] {
        font-size: 20px;
    }
    .slogan{
        font-size: 25px;
    }
    button{
        font-size: 20px;
    }
}

@media screen and (max-width:750px) {
    h1{
        font-size: 30px;
    }
    img{
        width: 220px;
    }
    input[type=text], input[type=password] {
        font-size: 15px;
    }
    button{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    h1{
        font-size: 20px;
    }
    img{
        width: 140px;
    }
    input[type=text], input[type=password] {
        font-size: 10px;
    }
    button{
        font-size: 10px;
        margin-left: 10px;
    }
    .logo{
        width: 120px;
    }
    .slogan{
        font-size: 20px;
    }
    .column{
        padding: 20% 10% 0 5%;
    }
}